body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(146, 144, 144);
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display {
    grid-column: span 4;
    background-color: #2e2e2e;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 2em;
    text-align: right;
    color: #ffffff;
}

.button {
    background-color: #3e3e3e;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #4e4e4e;
}

.operator {
    background-color: #f57c00;
}

.operator:hover {
    background-color: #ff8c00;
}
